@media (max-width: 615px) {
    .nav {
        display: flex;
        justify-content: center;
    }

    .nav > ul {
        text-align: center;
        align-items: center;
        margin: 0;
    }

    .nav-list a {
        font-size: 95%;
        padding: 0;
        margin: 15px;
    }
}

@media (max-width: 650px) {
    .welcome-section {
        flex-wrap: wrap;
    }

    .contact-links {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    .contact-links a {
        justify-content: center;
        text-align: center;
        margin: 15px;
    }

    .fa {
        display: inline;
    }
}
