* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #E71D36;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.9);
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    text-shadow: 4px 7px 5px #011627;
    display: block;
    font-size: 2rem;
    padding: 1rem;
}

@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;
    }
}

@media (max-width: 650px) {
    .nav-list a {
        font-size: 85%;
        padding: 0 0;
    }
}

.nav-list a:hover {
    color: #011627;
    /*
  font-size: 99%;
  */
}

#main-heading {
    text-shadow: 5px 8px 8px #011627;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(20deg, #011627 5%, #2EC4B6 100%);
}

@media (max-width: 650px) {
    .welcome-section {
        flex-wrap: wrap;
    }
}

.welcome-section > p {
    color: black;
    font-size: 2rem;
    text-shadow: 0 0 2px #fff;
}

body {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    line-height: 1.4;
    background: white;
}

h1,
h2 {
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
    color: white;
}

h2 {
    font-size: 4rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

img:hover {
    box-shadow: 10px 10px 25px black;
    /*
  opacity: 55%;
  transition: ease-in-out 0.2s;
  */
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #2EC4B6;
}

.projects-section-header {
    text-shadow: 4px 7px 12px #E71D36;
    max-width: 280px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid black;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.projects-grid {
    grid: auto-flow;
}

.project-title {
    color: black;
    padding-top: 10px;
    text-shadow: 0 0 5px #fff;
}

.project-title:hover {
    color: #E71D36;
    text-shadow: 0 0 5px #fff;
}

.contact-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #011627;
    color: #E71D36;
}

.contact-section-header {
    text-shadow: 5px 8px 8px #000;
    max-width: 640px;
    margin: 2rem auto 2rem auto;
    border-bottom: 0.2rem solid #E71D36;
    ;
}

.contact-links {
    display: flex;
    justify-content: center;
}

.contact-links a {
    font-size: 2rem;
    color: #E71D36;
    padding: 0 1rem;
    margin: 2rem 2rem;
    margin-bottom: 4rem;
    text-shadow: 0 0 1px #000;
}

.contact-details:hover {
    color: #2EC4B6;
    text-shadow: 0 0 1px #000;
}

@media (max-width: 650px) {
    .contact-links {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 9rem;
    }
}

@media (max-width: 650px) {
    .contact-links a {
        justify-content: center;
        text-align: center;
        margin: 15px;
    }
}
